.transact-parent{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

@media (max-width:482px) {
    .transact-parent{
        padding: 0.5rem;
        gap: 1rem;
    }
}