

.about-company {
    display: flex;

    gap: 0.75rem;
    
    align-items: center;
}
.company-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25rem;
    flex: 1 0 0;

}
.img-logo{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.25rem;
}
.name {
    color: white;
font-size: 0.8rem;
font-family: 'Inter',sans-serif;
font-weight: 500;
line-height: 22px;
word-wrap: break-word;
}
.visit{
color:  #FFF;
font-family: "Inter";
font-size: 0.8rem;
font-style: normal;
font-weight: 400;
line-height: 1rem; /* 123.077% */
text-decoration-line: underline;
}