.main-page{
display: flex;
flex-direction: row;
width: 100%;
padding: 0.5rem 1rem;
align-items: center;
gap: 0.75rem;
}
.page-name{
    color:  #FFF;


font-family: "Inter",sans-serif;
font-size: 0.875rem;
font-style: normal;
font-weight: 500;
line-height: 1.25rem;
}