@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.flex{
  display: flex;
  width: 100%;

}
body{
  overflow-x: auto;
}
@media (max-width:880px) {
  body{
    background-color: pink;
  }
}
.flex1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* overflow-y: scroll; */
  width: 100%;
}



